<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32"/>
    <link rel="stylesheet" href="../static/css/master.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='../static/js/master.js' defer></script>
    <script src='../static/js/articles.js' defer></script>
    <title>MyBioMarker</title>
    <meta name="google-site-verification" content="3Jnh_S0jF1X4B6rsGfrOaZu78m8ojphB4TKzrEsUoeM"/>
</head>
<body>
<a id="top"></a>
<div class="mobile-menu">
    <div class="mobile-menu-content">
        <div class="mibile-content-item">
            <a href="/dashboard/" class='subscribe-btn'>Demo</a>
            <img class='close' src="../static/img/icons/close.svg" alt="">
        </div>
        <nav>
            <a href="#about">About</a>
            <a href="#work">MyBioApp</a>
        </nav>
    </div>
</div>
<header>
    <div class="container justify-between">
        <img class='logo' src="../static/img/icons/logo.gif" alt="" width="20%" height="100%">
        <nav>
            <a href="#about">About</a>
            <a href="#work">MyBioApp</a>
           <a href="/dashboard" class='subscribe-btn' >Demo</a>

            <div class="soc-icons">
                <a href="https://www.facebook.com/mybiomarker"><img src="../static/img/icons/f.svg" alt=""></a>
                <a href="https://t.me/mybiomarker"><img src="../static/img/icons/telegram-black.svg" alt=""></a>
                <a href="https://www.instagram.com/mybiomarker"><img src="../static/img/icons/inst-black.svg"
                                                                     alt=""></a>
            </div>
            <img class='mobile-btn' src="../static/img/icons/mobile-btn.svg" alt="">
        </nav>
    </div>
</header>
<main>


    <section class='passport-section'>
        <div class="container" style="overflow:auto">
            <div class='passport-title-content'>
                <div>
                    <img class='mobile-hide' src="../static/img/passport-img 2.svg" alt=""
                         style="width:100%; height:100%">
                </div>
                <h1>MyBioMarker - take care of your biomarkers</h1>
                <p class='content-item'>
                    We give you in-depth insights of your health based on the results
                    of your pre-made medical tests</p>
                <a class='passport-title-btn' href="#subscribe">Learn more</a>
            </div>
            <img class='passport-img' src="../static/img/passport-img 2.svg" alt="">
        </div>
    </section>

    <section class='about-company-section'>
        <div class="container flex-column">

            <div class="title-content">
                <div>
                    <a id="work"></a>
                    <h2>MyBioApp</h2>
                    <span>
            Start your journey with MyBioMarker by following 3 steps.
          </span>
                    <br>
                    <br>

                    <div class="key-features">
                        <div class="key-features-item">
                            <img src="../static/img/key-features-img-1.svg" alt="">
                            <div>
                                <span class='key-features-title'>Step 1</span>
                                <p>Download MyBioApp and make use of free 30-days subscription.</p>
                            </div>
                        </div>
                        <div class="key-features-item">
                            <img src="../static/img/key-features-img-2.svg" alt="">
                            <div>
                                <span class='key-features-title'>Step 2</span>
                                <p>Scan your documents and upload it via App.</p>
                            </div>
                        </div>
                        <div class="key-features-item">
                            <img src="../static/img/key-features-img-3.svg" alt="">
                            <div>
                                <span class='key-features-title'>Step 3</span>
                                <p>Explore health insights of each individual organ.</p>
                            </div>
                        </div>
                    </div>
                </div>
    </section>


    <section class='bioMarker-section'>
        <img class='background-line' src="../static/img/background-line-1.png" alt="">
        <div class="container flex-column">
            <a id="about"></a>
            <h2>Why we lauch MyBioMarker?</h2>
            <div class='bioMarker-box'>
                <img class='BioMarker' src="../static/img/BioMarker.svg" alt="">
                <div class="bioMarker-content">
            <span class='second-title'>
              Easier to prevent rather than to treat. We are here to make it happen.

            </span>
                    <p class='content-item'>
                        MyBioMarker launched with the mission to help anyone who is experiencing period cramps, PMS,
                        PCOS, endometriosis and other
                        challenging conditions to understand what actually is happening and how to ease and take control
                        of these symptoms.
                        <!--              We, at MyBioMarker, are really passionate about woman’s physical and mental health. We understand how it can be challenging sometimes to keep your biomarkers under control, be in power to adjust your eating habits and be in line with your hormones.-->
                        <br>
                        <br>
                        Uploading results of your pre-made medical tests aims to track essential biomarkers.
                        Our algorithms will notify you on any suspicious deviations in your data so that you get an
                        early possible warning.
                    </p>
                </div>
            </div>
            <ul class="question-list">
                <li>
                    <div class="question-title"><span>Why should I use MyBioMarker?</span>
                        <div class="control"><img src="../static/img/plus.svg" alt=""><img src="../static/img/minus.svg"
                                                                                           alt=""></div>
                    </div>
                    <input id="file-input">
                    <div class="question-answer">
                        MyBioMarker is able to do two important things for you:
                        <p> - keep your records in one place; </p>
                        <p> - train the algorithm based on the medical records you uploaded; </p>
                        MyBioMarker helps you to look after early signs of different health conditions.
                    </div>
                </li>
                <li>
                    <div class="question-title"><span>How do you protect my data?</span>
                        <div class="control"><img src="../static/img/plus.svg" alt=""><img src="../static/img/minus.svg"
                                                                                           alt=""></div>
                    </div>
                    <div class="question-answer">

                        People trust MyBioMarker to store medical data.
                        We use only trusted services for data storage and only
                        in encrypted and obfuscated way. We make sure that data is encrypted
                        at rest (at client side) and transmission happens only over secure protocol.
                        However, MyBioBot is trained using your data, we never use your personal data or
                        sell it.
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container flex-column">
            <div class="title-content">
                <h2>MYBIOPRODUCTS</h2>
                <span>Scan your medical records and send them to analyze via our App.</span>
            </div>
            <div class="btn-list">

            </div>
            <div class="log-in-content">
                <div>
                    <div class="second-title">
                        Download app to simply use more healthy features:
                    </div>
                    <div class='box-flex'>
                        <img src="../static/img/icons/elipse.svg" alt="">
                        <div class="content-item" style="font-size:18px">
                            <br>
                            <h3>
                                <img src="../static/img/icons/tick-box.svg" alt=""> Upload all your pre-made med tests
                                into App
                            </h3>
                            <h3>
                                <img src="../static/img/icons/tick-box.svg" alt=""> Keep your medical records in one
                                place
                            </h3>
                            <h3>
                                <img src="../static/img/icons/tick-box.svg" alt=""> Export medical intepretation of your
                                records and share it with a doctor
                            </h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <br></br>

    <section class='form-section'>
        <a id='subscribe'></a>
        <div class="container flex-column align-center">

            <div class="second-title-content">
                <div class="second-title">Do you want to get to know more about MyBioMarker?</div>
                <hr>
                <span class='arrow-box'>Find out more about MyBioMarker in Medium
              <a href="https://medium.com/@elizaveta.olariu/about"><img src="../static/img/icons/arrow.svg" alt=""></a>
            </span>
            </div>
        </div>
    </section>

</main>
<footer>
    <a href="#top"><img src="../static/img/icons/top-3.svg" alt=""></a>
    <div class="footer-container">
        <div class="footer-item">
            <div class="footer-item-title">MyBioMarker</div>
            <a href="">Privacy</a>
            <!--        <a href="">Terms and Conditions</a>-->
        </div>
        <div class="footer-item">
            <div class="footer-item-title">Company</div>
            <a href="https://medium.com/@elizaveta.olariu/about">Blog</a>
        </div>
        <div></div>
        <div class="soc-icons">
            <a href="https://www.facebook.com/mybiomarker"><img src="../static/img/icons/f-w.svg" alt=""></a>
            <a href="https://t.me/mybiomarker"><img src="../static/img/icons/telegram.svg" alt=""></a>
            <a href="https://twitter.com/mybiohealth"><img src="../static/img/icons/tw-w.svg" alt=""></a>
            <a href="https://www.instagram.com/mybiomarker"><img src="../static/img/icons/inst-white.svg" alt=""></a>
        </div>
    </div>
    <br>
    <div class='disclaimer'>
        MyBioMarker is not a medical device. MyBioMarker is a product designed to
        continuously learn from the collected data to help to understand ovaluation
        and other patterns of different biomarkers. False positive and False negative
        readings about health data are potential risk of MyBioMarker. MyBioMarker does
        not guarantee that health patterns are 100% accurate since all predictions are
        made based on neural network algorithms. MyBioMarker should never be a substitute
        to consultations with medical professionals.
    </div>
</footer>

</body>
</html>