<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/master.css">
  <script src='../static/js/master.js' defer></script>
  <script src='../static/js/articles.js' defer></script>
  <title>MyBioMarker</title>
</head>
<body>
  <a id="top"></a>
  <div class="mobile-menu">
    <div class="mobile-menu-content">
      <div class="mibile-content-item">
        <a class='subscribe-btn' href="#subscribe">Subscribe</a>
        <img class='close' src="../static/img/icons/close.svg" alt="">
      </div>
      <nav>
        <a href="#about">About</a>
        <a href="#work">Work</a>
      </nav>
    </div>
  </div>
  <header>
    <div class="container justify-between">
      <img class='logo' src="https://raw.githubusercontent.com/lisapol/mybiomarker/master/logo-gif-3.gif" alt="">
      <nav>
        <a href="#about">About</a>
        <a href="#work">Work</a>
        <a class='subscribe-btn' href="#subscribe">Subscribe</a>
        <div class="soc-icons">
          <a href="https://www.facebook.com/mybiomarker"><img src="../static/img/icons/f.svg" alt=""></a>
          <a href="https://t.me/mybiomarker"><img src="../static/img/icons/telegram-black.svg" alt=""></a>
          <a href="https://www.instagram.com/mybiomarker"><img src="../static/img/icons/inst-black.svg" alt=""></a>
        </div>
        <img class='mobile-btn' src="../static/img/icons/mobile-btn.svg" alt="">
      </nav>
    </div>
  </header>
  <main>


    <section class='passport-section'>
      <div class="container" style="overflow:auto">
        <div class='passport-title-content'>
          <div>
          <img class='mobile-hide' src="../static/img/passport-img 1.svg" alt="" style="width:100%; height:100%">
          </div>
          <h1>MYBIOMARKER DIGITAL<br>HEALTH PASSPORT</h1>
          <p class='content-item'>
            MyBioMarker is an app that stores your medical records and use it to train MyBioBot to give you in-depth insights of your health.</p>
          <a class='passport-title-btn' href="#subscribe">Learn more</a>
        </div>
          <img class='passport-img' src="../static/img/passport-img 1.svg" alt="">
      </div>
    </section>

   <section class='about-company-section'>
      <div class="container flex-column">
        <div class="title-content">
          <a id="work"></a>
          <h2>MyBioBox</h2>
          <span>Self-Test are made to take control of your health. Start your journey with MyBioMarker by following 3 steps.
<!--            <br>-->
<!--            Order MyBioBox kit and do the tests,-->
<!--            <br>-->
<!--            Upload results to our platform and wait until MyBioBot stops training-->
<!--            <br>-->
<!--            Consult with the doctor through our platform.-->
          </span>
        </div>
        <div class="" id="">
        <div class="scrollmenu" align="center">
          <img src="../static/img/mybiobox-8.svg">
          <img src="../static/img/mybiobot-5 1.svg">
          <img src="../static/img/doctor-6 1.svg">
        </div>
        </div>
      </div>
    </section>

    <section class='about-company-section'>
      <a id='about'></a>
      <div class="container flex-column">
        <div class="title-content">
          <h2>OUR VALUES</h2>
<!--          <span>We are proud to help woman to get help with their health</span>-->
        </div>
        <div class="key-features">
          <div class="key-features-item">
            <img src="../static/img/key-features-img-1.svg" alt="">
            <div>
              <span class='key-features-title'>Bravery</span>
              <p>Dream BIG and never settle for less</p>
            </div>
          </div>
          <div class="key-features-item">
            <img src="../static/img/key-features-img-2.svg" alt="">
            <div>
              <span class='key-features-title'>Creativity</span>
              <p>Think out of the box and plan one step ahead</p>
            </div>
          </div>
          <div class="key-features-item">
            <img src="../static/img/key-features-img-3.svg" alt="">
            <div>
              <span class='key-features-title'>Be S.M.A.R.T.</span>
              <p>Find time to reflect and aknowledge your setbacks</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class='bioMarker-section'>
<!--      <img class='faq' src="./img/faq.svg" alt="">-->
      <img class='background-line' src="../static/img/background-line-1.png" alt="">
      <div class="container flex-column">
        <h2>Why we lauch MyBioMarker?</h2>
        <div class='bioMarker-box'>
          <img class='BioMarker' src="../static/img/BioMarker.svg" alt="">
          <div class="bioMarker-content">
            <span class='second-title'>
              Easier to prevent rather than to treat. We are here to make it happen.

            </span>
            <p class='content-item'>
              MyBioMarker launched with the mission to help anyone who is experiencing period cramps, PMS, PCOS, endometriosis and other
              challenging conditions to understand what actually is happening and how to ease and take control of these symptoms.
<!--              We, at MyBioMarker, are really passionate about woman’s physical and mental health. We understand how it can be challenging sometimes to keep your biomarkers under control, be in power to adjust your eating habits and be in line with your hormones.-->
              <br>
              <br>
              MyBioMarkers tests are aimed to track essential biomarkers, store your results and calculate your personal reference value.
              Our algorithms will notify you on any suspicious deviations in your data so that you get an early possible warning.
<!--            Having all these under control will make you feel relaxed and happy. That’s why we launched MyBioMarker - the digital health passport that keeps track of your medical records and use your personal data to give you more insights into your unique and amazing health.-->
            </p>
          </div>
        </div>
<!--        <img class="faaq" src="./img/faq.svg" width="300" alt="">-->
        <ul class="question-list">
          <li>
            <div class="question-title"><span>Why should I use MyBioMarker?</span> <div class="control"><img src="../static/img/plus.svg" alt=""><img src="../static/img/minus.svg" alt=""></div></div>
            <div class="question-answer">
              doloare.Lorem ipsum dolor sit aaet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et doloare.Lorem ipsum dolor sit aaet, consectetur adipiscing elit, sed do eiusmod
            </div>
          </li>
          <li>
            <div class="question-title"><span>Do you provide online appointents with the midwives?</span> <div class="control"><img src="../static/img/plus.svg" alt=""><img src="../static/img/minus.svg" alt=""></div></div>
            <div class="question-answer">
              doloare.Lorem ipsum dolor sit aaet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et doloare.Lorem ipsum dolor sit aaet, consectetur adipiscing elit, sed do eiusmod
            </div>
          </li>
          <li>
            <div class="question-title"><span>Can my company pay for MyBioMarker appointments?</span> <div class="control"><img src="../static/img/plus.svg" alt=""><img src="../static/img/minus.svg" alt=""></div></div>
            <div class="question-answer">
              doloare.Lorem ipsum dolor sit aaet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et doloare.Lorem ipsum dolor sit aaet, consectetur adipiscing elit, sed do eiusmod
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="container flex-column">
        <div class="title-content">
          <h2>MYBIOMARKER PRODUCTS</h2>
          <span>Take photos and send them to analyze via our App or Telegram MyBioBot.</span>
        </div>
        <div class="btn-list">
          <a href="https://t.me/mybiomarker" ><img src="../static/img/icons/telegram-2.svg" alt="" style="width:100%; height:100%"></a>
          <a href="" ><img src="../static/img/icons/google-play-badge.svg" alt=""></a>
<!--          <a href="[[~2]] target='_blank" class="btn white-btn"><img src="./img/icons/web.svg" alt="">Website</a>-->
        </div>
        <div class="log-in-content">
          <div>
            <div class="second-title">
              Download app to simply use more healthy features and explore our FREE to use Telegram Bots.
              You can do via APP:
            </div>
<!--            <span class="annotation">-->
<!--              unt ut labore et dol. oare.Lorem ipsum dolor sit aaet, consectetur adipiscing elit, sed do eiusmod-->
<!--              tempor incididunt ut labore et doloare.Lorem-->
<!--            </span>-->
              <div class='box-flex'>
                <img src="../static/img/icons/elipse.svg" alt="">
                <div class="content-item" style="font-size:18px">
                  <br>
                  <h3>
                    <img src="../static/img/icons/tick-box.svg" alt=""> Upload tests from MyBioBox
                  </h3>
                  <h3>
                    <img src="../static/img/icons/tick-box.svg" alt=""> Keep your medical records in one place
                  </h3>
                  <h3>
                    <img src="../static/img/icons/tick-box.svg" alt=""> Explore charts of your health
                  </h3>
                </div>
              </div>
            </div>
<!--            <img src="./img/login-img.png" alt="">-->
            <img src="../static/img/mybiocamera.png" alt="">

          </div>
        </div>
      </section>


<!--      <section class='article-section'>-->
<!--        <a id="work"></a>-->
<!--        <div class="container flex-column">-->
<!--          <div class="title-content">-->
<!--            <h2>MyBioMarker articles.</h2>-->
<!--            <span>Explore our TOP-3 articles, follow us on Meduza or Instagram for more.</span>-->
<!--          </div>-->
<!--          <div class="box-flex justify-between">-->
<!--            <div class="follow">-->
<!--              <img src="../static/img/medium-img.svg" alt="">-->
<!--              <a href="" class="btn brown-btn">Follow</a>-->
<!--            </div>-->
<!--            <div class="article-list">-->
<!--              <div class="article-item">-->
<!--                <img src="../static/img/articles/hands.png" alt="">-->
<!--                <div>-->
<!--                  <span class='article-title'>Eiusmod tempor incididunt ut labore et doloare.Lorem ipsum dolor ipsum dolo.</span>-->
<!--                  <p class="article-content">adipiscing elit, sed do eiu sm od tempor incididunt ut piselit, sed.</p>-->
<!--                  <div class="date-item"><div class="date">Jul 21</div><div class="time"><img src="../static/img/icons/time.svg" alt="">2 min read<img src="../static/img/icons/star.svg" alt=""></div></div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="article-item">-->
<!--                <img src="../static/img/articles/hands.png" alt="">-->
<!--                <div>-->
<!--                  <span class='article-title'>Eiusmod tempor incididunt ut labore et doloare.Lorem ipsum dolor ipsum dolo.</span>-->
<!--                  <p class="article-content">adipiscing elit, sed do eiu sm od tempor incididunt ut piselit, sed.</p>-->
<!--                  <div class="date-item"><div class="date">Jul 21</div><div class="time"><img src="../static/img/icons/time.svg" alt="">2 min read<img src="../static/img/icons/star.svg" alt=""></div></div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="article-item">-->
<!--                <img src="../static/img/articles/hands.png" alt="">-->
<!--                <div>-->
<!--                  <span class='article-title'>Eiusmod tempor incididunt ut labore et doloare.Lorem ipsum dolor ipsum dolo.</span>-->
<!--                  <p class="article-content">adipiscing elit, sed do eiu sm od tempor incididunt ut piselit, sed.</p>-->
<!--                  <div class="date-item"><div class="date">Jul 21</div><div class="time"><img src="../static/img/icons/time.svg" alt="">2 min read<img src="../static/img/icons/star.svg" alt=""></div></div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="article-item">-->
<!--                <img src="../static/img/articles/hands.png" alt="">-->
<!--                <div>-->
<!--                  <span class='article-title'>Eiusmod tempor incididunt ut labore et doloare.Lorem ipsum dolor ipsum dolo.</span>-->
<!--                  <p class="article-content">adipiscing elit, sed do eiu sm od tempor incididunt ut piselit, sed.</p>-->
<!--                  <div class="date-item"><div class="date">Jul 21</div><div class="time"><img src="../static/img/icons/time.svg" alt="">2 min read<img src="../static/img/icons/star.svg" alt=""></div></div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="hide" id="example-three" data-text-swap="Hide">Show</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->

    <section class='form-section'>
        <a id='subscribe'></a>
        <div class="container flex-column align-center">

          <div class="title-content">
            <h2>SUBSCRIBE</h2>
          </div>

          <form class='form' action="" method="post">
            <label for="form-input" style="font-size:19px">
              Subscribe our weekly newspaper about health tips! And we will also let you know when we launch.
<!--              Closed beta version is coming to an end. Register your interest to be notified when we launch.-->
            </label>
            <input class='form-input' id='form-input' type="e-mail" name="email" required>
<!--            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"-->
            <input class='btn_popup' onclick="pop()" type="submit" value="Subscribe">
            <div class="send-file">
              <input id="file-input">
                  <div id="box">
                    <h3>Thanks for subscribing!</h3>
                    <a class="close" onclick="pop()">Back</a>
                  </div>
            </div>
            <img src="../static/img/form-img.svg" alt="">
          </form>


          <div class="second-title-content">
            <div class="second-title">Do you want to get to know more about MyBioMarker?</div>
            <hr>
            <span class='arrow-box'>Find out more about MyBioMarker in Medium
              <a href="https://medium.com/@elizaveta.olariu/about"><img src="../static/img/icons/arrow.svg" alt="" >
            </span>
          </div>
        </div>
      </section>
      <!--div class="container-100 justify-center">
    </div-->
    <img class='background-line-b' src="../static/img/background-line-b-1.png" alt="">
  </main>
  <footer>
    <a href="#top"><img src="../static/img/icons/top-3.svg" alt=""></a>
    <div class="footer-container">
      <div class="footer-item">
        <div class="footer-item-title">MyBioMarker</div>
        <a href="">Privacy</a>
        <a href="">Terms and Conditions</a>
      </div>
      <div class="footer-item">
        <div class="footer-item-title">Company</div>
        <a href="https://medium.com/@elizaveta.olariu/about">Blog</a>
      </div>
      <div></div>
      <div class="soc-icons">
        <a href="https://www.facebook.com/mybiomarker"><img src="../static/img/icons/f-w.svg" alt=""></a>
        <a href="https://t.me/mybiomarker"><img src="../static/img/icons/telegram.svg" alt=""></a>
        <a href="https://twitter.com/mybiohealth"><img src="../static/img/icons/tw-w.svg" alt=""></a>
        <a href="https://www.instagram.com/mybiomarker"><img src="../static/img/icons/inst-white.svg" alt=""></a>
      </div>
    </div>
    <br>
    <div class='disclaimer'>
        MyBioMarker is not a medical device. MyBioMarker is a product designed to
        continuously learn from the collected data to help to understand ovaluation
        and other patterns of different biomarkers. False positive and False negative
        readings about health data are potential risk of MyBioMarker. MyBioMarker does
        not guarantee that health patterns are 100% accurate since all predictions are
        made based on neural network algorithms. MyBioMarker should never be a substitute
        to consultations with medical professionals.
    </div>
  </footer>
</body>
</html>