<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/test-2.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/styleguide-2.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/globals-2.css" />
      <script src='../static/js/test.js' defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32"/>
    <link rel="stylesheet" href="../static/css/master.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


  </head>
  <body style="margin: 0; background: #ffffff">
<a id="top"></a>
<div class="mobile-menu">
    <div class="mobile-menu-content">
        <div class="mibile-content-item">
            <a href="{{ url_for('main.jj') }}" class="navbar-item">Dashboard</a>
            <img class='close' src="../static/img/icons/close.svg" alt="">
        </div>
        <nav>
            <a href="{{ url_for('main.dirty_bird') }}" class="navbar-item">Upload</a>
            <a href="{{ url_for('auth.logout') }}" class="navbar-item">Log Out</a>
        </nav>
    </div>
</div>

  <header>
    <div class="container justify-between">
<!--        <img class='logo' src="../static/img/icons/logo.gif" alt="" width="20%" height="100%">-->
                <img class='logo-2' src="../static/img/key-features-img-2.svg" alt="" >

        <nav>
            <a href="{{ url_for('main.jj') }}" class="navbar-item">Dashboard</a>
            <a href="{{ url_for('main.dirty_bird') }}" class="navbar-item">Upload</a>
            <a href="{{ url_for('auth.logout') }}" class="navbar-item">Log Out</a>
            <img class='mobile-btn' src="../static/img/icons/mobile-btn.svg" alt="">
        </nav>
    </div>
</header>
<main>

<!--    <input type="hidden" id="anPageName" name="page" value="full-project" />-->
    <div class="container-center-horizontal">
      <div class="iphone-13-mini-5 screen">
        <div class="overlap-group overlap">
          <div class="overlap-group1 overlap">
              <br>
              <br>
              <br>
              <form method="POST" action="{{ url_for('auth.my_data') }}">
              <button class="add-record" style="background-color: #e1b1ba; color:white">show me all data</button>
              </form>
          </div>
          <form method="POST" action="{{ url_for('main.profile_2') }}">
          <div class="frame-43429">
              <h3>💉  Enter your medical data: </h3>

            <select name="my_test" id="my_test" class="frame-4342">
<!--              <option value="" disabled selected> value </option>-->
              <option value="TSH">TSH</option>
              <option value="FT4">FT4</option>
              <option value="T3">T3</option>
              <option value="vitamin_d"> Vitamin D</option>
              <option value="cholesterol_total">cholesterol total</option>
              <option value="hdl_total">HDL total</option>
              <option value="ldl_total">LDL total</option>
            </select>
            <input class="frame-4342" placeholder="Value" name="my_value" type="number" required>
            <select name="my_unit" id="my_unit" class="frame-4342">
<!--              <option value="" disabled selected>unit</option>-->
              <option value="mmol/L">mmol/L</option>
            </select>
              <button class="add-record">add record</button>
              <br>
              <h3> Enter drugs or vitamins intake:</h3>
              <input class="frame-4342" placeholder="vitamin name" name="vitamin_name">
              <label for="start_date">Start date:</label>
              <input class="frame-4342" placeholder="start date" id="start_date" type="date">
              <input class="frame-4342" placeholder="duration in days" name="duration">
              <button class="add-record">add record</button>
              <br>
              <h3> Enter information about your menstrual data:</h3>
              <label for="menstrual_start_date">Start date:</label>
              <input class="frame-4342" placeholder="start date" id="menstrual_start_date" type="date">
              <label for="menstrual_end_date">End date:</label>
              <input class="frame-4342" placeholder="end date" type="date" id="menstrual_end_date">
              <button class="add-record">add record</button>
          </div>
<!--          <button type="button" class="frame-43163"> + add</button>-->
          <div class="frame-43430">
            <button type="submit" class="frame-43429-1"><div class="submit poppins-medium-white-16px">Update dashboard</div></button>
<!--            <button type="button" class="frame-43160"><div class="cancel poppins-medium-white-16px">Cancel</div></button>-->
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container-center-horizontal">
      <div class="full-project screen">
        <div class="group-1000003737">
          <div class="overlap-group-1">
            <div class="rectangle-4174"></div>
              <br>
              <br>
              <br>
              <br>
            <h1 class="title">Add your results manually</h1>
<!--            <div class="edit-if-not-1">Edit if not</div>-->
          </div>
          <form method="POST">
          <div class="frame-43429-2">
            <select class="frame-4342-1">
              <option value="" disabled selected> value </option>
              <option value="TSH">TSH</option>
              <option value="FT4">FT4</option>
              <option value="T3">T3</option>
              <option value="vitamin_d"> Vitamin D</option>
              <option value="cholesterol_total">cholesterol total</option>
              <option value="hdl_total">HDL total</option>
              <option value="ldl_total">LDL total</option>
            </select>
            <input class="frame-4342-1" placeholder="Value">
            <select class="frame-4342-1" >
              <option value="" disabled selected>unit</option>
              <option value="mmol/L">mmol/L</option>
            </select>
          </div>
          </form>
<!--          <button type="button" class="frame-43163-1"><div class="add">+ Add</div></button>-->
          <div class="frame-43430-1">
            <button type="button" class="frame-43429-4"><div class="submit-1">Update dashboard</div></button>
<!--            <button type="button" class="frame-43160-1"><div class="cancel-1">Cancel</div></button>-->
          </div>
        </div>
      </div>
    </div>
    </main>
  </body>
</html>
