absl-py==1.1.0
aiocache==0.11.1
aiohttp==3.8.1
aiosignal==1.2.0
aiotask-context==0.6.1
alembic==1.8.1
ansi2html==1.8.0
anyio==3.6.1
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
aws-sam-translator==1.54.0
Babel==2.10.3
backcall==0.2.0
backoff==1.10.0
basictracer==3.1.0
beautifulsoup4==4.11.1
bleach==5.0.1
boto3==1.21.3
botocore==1.24.3
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854303569/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.0.0
certifi==2022.9.14
cffi==1.15.0
cfn-lint==0.71.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
click-log==0.3.2
cloudpickle==1.3.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
coloredlogs==15.0
conda==4.14.0
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1649385138064/work
cryptography==3.4.8
dash==2.7.1
dash-bootstrap-components==1.3.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
databricks-cli==0.17.3
dataclasses-json==0.5.2
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dirsync==2.2.5
docker==5.0.3
entrypoints==0.4
executing==1.0.0
fastentrypoints==0.12
fastjsonschema==2.16.1
Flask==2.2.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.2
flatbuffers==1.12
frozenlist==1.3.0
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.7.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grappler-logger-py3==6.2.6
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpc-split_1661697878967/work
grpcio-health-checking==1.48.0
grpcio-reflection==1.48.0
gspread==5.7.2
gunicorn==20.1.0
h5py==3.7.0
httplib2==0.21.0
humanfriendly==10.0
idna==2.10
importlib-metadata==4.8.1
iniconfig==1.1.1
ipykernel==6.15.2
ipython==8.4.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
jschema-to-python==1.2.3
json5==0.9.10
jsonpatch==1.32
jsonpickle==2.1.0
jsonpointer==2.3
jsonschema==3.2.0
junit-xml==1.9
jupyter-core==4.11.1
jupyter-dash==0.4.2
jupyter-server==1.18.1
jupyter_client==7.3.5
jupyterlab==3.4.5
jupyterlab-pygments==0.2.2
jupyterlab_server==2.15.1
keras==2.7.0
Keras-Preprocessing==1.1.2
libclang==14.0.1
lightstep==4.4.8
lint-bosun==0.1.3
lxml==4.9.1
Mako==1.2.2
Markdown==3.3.7
MarkupSafe==2.1.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
matplotlib-inline==0.1.6
mistune==2.0.4
mlflow==1.28.0
mocker==1.1.1
mockito==1.4.0
mshell-aiohttp-core==15.0.1
mshell-metrics==7.5.1
mshell-python-core==5.2.0
mshell-secrets==7.2.0
multidict==6.0.2
mypy-extensions==0.4.3
mypy-protobuf==1.15
nbclassic==0.4.3
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.8
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.21.6
oauth2client==4.1.3
oauthlib==3.2.0
object-pool==0.2
opentelemetry-api==1.4.1
opentelemetry-exporter-otlp==1.4.1
opentelemetry-exporter-otlp-proto-grpc==1.4.1
opentelemetry-exporter-otlp-proto-http==1.12.0
opentelemetry-instrumentation==0.23b2
opentelemetry-instrumentation-aiohttp-client==0.23b2
opentelemetry-instrumentation-grpc==0.23b2
opentelemetry-instrumentation-logging==0.30b1
opentelemetry-opentracing-shim==0.23b2
opentelemetry-propagator-ot-trace==0.23b2
opentelemetry-proto==1.4.1
opentelemetry-sdk==1.4.1
opentelemetry-semantic-conventions==0.23b2
opentelemetry-util-http==0.23b2
opentracing==2.4.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.4
pandocfilters==1.5.0
parsimonious==0.10.0
parso==0.8.3
pbr==5.8.1
pexpect==4.8.0
pickleshare==0.7.5
pip-tools==5.5.0
plotly==5.11.0
pluggy==1.0.0
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.3
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1649385121707/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydevd-pycharm==213.6461.77
pyformance==0.4
Pygments==2.13.0
PyJWT==2.4.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==3.0.7
pyrsistent==0.18.1
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857351433/work
pytest==7.1.2
pytest-mock==3.8.2
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.2.1
PyYAML==5.4.1
pyzmq==23.2.1
querystring-parser==1.2.4
regex==2022.9.13
relevator-model-publisher==1.22
request==1.0.117
requests==2.25.0
requests-oauthlib==1.3.1
requirements-parser==0.2.0
retrying==1.3.4
rsa==4.8
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1653464701544/work
s3transfer==0.5.1
sarif-om==1.0.4
schemas-py3==3.2002.11429
scikit-learn==1.2.0
scipy==1.9.1
Send2Trash==1.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0.post1
skyscanner-relevator-mlflow===dev
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.40
sqlparse==0.4.2
stack-data==0.5.0
statsd==3.3.0
stringcase==1.2.0
tabulate==0.8.10
tenacity==8.1.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-macos==2.9.2
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
thrift==0.15.0
tinycss2==1.1.1
tomli==2.0.1
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado==6.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
traitlets==5.3.0
types-requests==2.27.10
types-urllib3==1.26.9
typing-inspect==0.7.1
typing_extensions==4.1.1
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.0
Werkzeug==2.2.2
wrapt==1.13.3
yarl==1.7.2
zipp==3.7.0
psycopg2==2.9.5